body{
  background-color: rgb(20, 120, 230);
}
.big_form{
   position: relative;
   top: 80px;
}
.logo{
   height: 35px;
   margin-left: 42%;
   margin-bottom: 20px;
}
.mid_form{
   background-color: white;
   width: 400px;
   padding-left:40px;
   padding-right: 40px;
   padding-bottom:20px;
   margin-left: 30%;
   border-radius: 2px;
   text-align: center;
}
legend{
  font-size: 33px;
  color: grey;
  font-family: Helvetica;
  padding-top: 30px;
  padding-bottom: 30px;
}
fieldset{
  border-style: none;
}
.email_label{
  float:left;
  font-size:20px;
  margin-left: 20px;
  font-family: Helvetica;
  display: block;
  margin-bottom: 5px;
}
.password_label{
  float: left;
  font-size: 20px;
  margin-left: 20px;
  display: block;
  font-family: Helvetica;
  margin-bottom: 5px;
}
input{
  width: 320px;
  height: 55px;
  padding-left: 15px;
  border-radius: 2px;
  margin-bottom: 20px;
  border-style: ridge;
  margin-left: 18px;
  font-family: helvetica;
  font-size: 18px;
}
button{
  width: 320px;
  height: 55px;
  background-color: rgb(30, 150, 50);
  padding: 15px;
  border-style: none;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  font-family: helvetica;
  margin-bottom: 30px;
  margin-left: 15px;
}
p{
  color: white;
  font-family: helvetica;
  text-align: center;
  text-decoration-style: solid;
}
a{
  text-decoration: underline;
}
